<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="/fragments/header"></th:block>
<!-- start: breadcrumbs -->
<!-- end: header -->
<link rel="stylesheet" href="../../static/css/ratingView.css" />
<link rel="stylesheet" href="../../static/css/dropdown.css" />
<!-- start: breadcrumbs -->
<section class="row breadcrumbs max-inner">
  <div class="columns col-12">
    <ul class="breadcrumb-list">
      <li><a href="/main/index.html">Home</a></li>
      <li>Product results</li>
    </ul>
  </div>
</section>
<!-- end: breadcrumbs -->


<!-- start: sort + product nav -->
<section class="filter-sort">
  <div class="row max-inner">

    <div class="dropdown">
      <button class="dropbtn">
        <span class="dropbtn_icon" th:if="${mainCategoryName == null}"> 카테고리</span>
        <span class="dropbtn_icon" th:unless="${mainCategoryName == null}" th:text="${mainCategoryName.name}"></span>
      </button>
      <div class="dropdown-content">
        <ul class="main-category" th:each="mainCategory : ${mainCategories}">
          <li><a th:href="@{/product/shop/{mainCategoryId}(mainCategoryId=${mainCategory.mainCategoryId})}" th:text="${mainCategory.name}"></a></li>
        </ul>
      </div>
    </div>


    <div th:if="${subCategorys == null}" class="dropdown">
      <button class="dropbtn" type="disabled">
        <span class="dropbtn_icon"></span>
        메인 카테고리를 선택해주세요.
      </button>
    </div>
    <div th:unless="${subCategories == null}" class="dropdown">
      <button class="dropbtn">
        <span class="dropbtn_icon" th:text="${mainCategoryName.name} + ' 카테고리'"></span>
      </button>
      <div class="dropdown-content">
        <ul class="main-category" th:each="subCategory : ${subCategorys}">
          <li><a th:href="@{/product/shop/{subCategoryId}(subCategoryId=${subCategory.subCategoryId})}" th:text="${subCategory.name}"></a></li>
        </ul>
      </div>
    </div>

  </div>
</section>
<!-- end: sort + product nav -->



<!-- start: product grid -->
<section class="product-grid shop-grid">

  <div class="row max-inner sortable-grid">

    <!-- start: grid item -->
    <div class="columns col-3 grid-item" th:each="product : ${products}">
      <div class="grid-item-media"><a th:href="@{/product/product/{productId}(productId=${product.productId})}"><img src="../../static/images/grid-item-image-1.jpg" /></a></div>
      <div class="grid-item-desc">
        <h2>
          <a class="grid-item-link" th:href="@{/product/product/{productId}(productId=${product.productId})}">
            <span class="grid-item-meta" th:text="${product.productId}"></span><hr />
              <span style="color: black" class="product-name" th:text="${product.name}"></span>
            <span style="color: #282828" class="grid-item-price" th:if="${product.salePercentage == null}" th:text="'₩ ' + ${#numbers.formatInteger(product.price, 1, 'COMMA')}"></span>
            <span class="grid-item-price" th:unless="${product.salePercentage == null}">
              <s th:text="'₩ ' + ${#numbers.formatInteger(product.price, 1, 'COMMA')}"></s>
              <span style="color: fuchsia;" th:text="${product.salePercentage} + '%'"></span>
              <span th:with="discountedPrice=${product.price * (1 - product.salePercentage / 100.0)}"
                    style="color: red;" th:text="'₩ ' + ${#numbers.formatInteger(discountedPrice.intValue(), 0, 'COMMA')}"></span>
            </span>

          </a>
        </h2>
      </div>
    </div>
    <!-- end: grid item -->

    <!-- end: grid item -->

  </div>
</section>
<!-- end: product grid -->



<!-- start: bottom pagination -->
<section class="product-pagination">
  <div class="row max-inner">
    <div class="columns col-12">
      <ul class="paging-list">
        <li><a href="#"><i class="fa fa-caret-left"></i></a></li>
        <li><a href="#">1</a></li>
        <li><a href="#" class="current-prod-page">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#"><i class="fa fa-caret-right"></i></a></li>
      </ul>
    </div>
  </div>
</section>
<!-- end: bottom pagination -->



<!-- start: footer -->
<th:block th:replace="/fragments/footer"></th:block>
</body>
</html> 