.row .kim {
    float: left;
    display: inline;
    width: 100%;
    position: static;
    padding: 0 10px; }
.row .kim.col-Faker {
    right: 20px;
    padding: 10px;
    position: relative;
    width: 20%; }
.row .kim.col-Faker2 {
    right: 20px;
    padding: 10px;
    position: static;
    width: 20%; }