.top{
    width:100%;
    height: 60px;
    float: left;
}
.top span{
    font-size: 28px;
    font-weight: bold;
    color: green;
}
.container{
    height:940px;
    width:100%;
    float: left;
}
.left{
    width:50%;
    height:940px;
    float:left;
    display: flex;
    justify-content: left;
    align-items: center;
}
.right{
    width:50%;
    height:940px;
    float:left;
    display: flex;
    justify-content: right;
    align-items: center;
}
.thumb-image{
    width:98%;
    height:880px;
}
.blank{
    width:100%;
    height:120px;
    float: left;
}
.text-with-image{
    width:100%;
    height:450px;
    float: left;
}
.image-area{
    width: 65%;
    height: 100%;
    float: left;
}
.text-area{
    width: 35%;
    height: 100%;
    float: left;
    color: white;
    background-color: green;
}
.text-area div{
    width:100%;
}
.title-area{
    height:60px;
    padding: 28px;
    font-size: 20px;
    font-weight: bold;
}
.content-area{
    padding: 20px;
}
.content-area button{
    background-color: white;
    color: green;
    padding: 5px 8px;
    border: white;
    border-radius: 10px;
    font-weight: bold;
}
.main-image{
    width:100%;
    height:100%;
}
.gallery{
    width:100%;
    height:800px;
    float: left;
}
.bar{
    width:33%;
    height:740px;
    float:left;
}
.bar div{
    width:100%;
    height:50%;
    float:left;
    padding:5px;
}
.middle-bar{
    width:34%;
    height:740px;
    float:left;
    padding:5px;
}