<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title>Leafton Login / Register</title>
<link rel="stylesheet" href="/static/css/loginPage.css">
</head>
<body>
<div class="wrap">
    <div class="form-wrap" id="wrapper">
        <div class="button-wrap">
            <div id="btn"></div>
            <button type="button" class="togglebtn" onclick="goLogin()">LOG IN</button>
            <button type="button" class="togglebtn" onclick="goRegister()">REGISTER</button>
        </div>
        <div class="logo">
            <h3 style="text-align: center">Leafton</h3>
        </div>
        <form id="login" method="post" action="/member/login" class="input-group" th:object="${memberDTO}">
            <input type="text" name="email" class="input-field" placeholder="Enter Email" required>
            <input type="password" name="password" class="input-field" placeholder="Enter Password" required>
            <br><br>
            <button class="submit">Login</button>
        </form>
        <form id="register" method="post" action="/member/register" class="input-group">
            <input type="text" id="email" name="email" class="input-field" placeholder="Email" required>
            <input type="password" name="password" class="input-field" placeholder="Enter Password" required>
            <input type="text" name="name" class="input-field" placeholder="Your Name" required>
            <input type="number" name="age" class="input-field" placeholder="Your Age" required>
            <input type="text" name="phone" class="input-field" placeholder="Phone Number" required>
            <input type="text" name="address" class="input-field" placeholder="Address" required>
            <input type="number" name="zipcode" class="input-field" placeholder="zipcode" required>
            <input type="checkbox" id="man" name="gender" class="checkbox" value="0">
            <label for="man" style="font-size:12px">man</label>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <input type="checkbox" id="woman" name="gender" class="checkbox" value="1">
            <label for="woman" style="font-size:12px">Woman</label>
            <br><br><br>
            <label>prefferred style</label>
            <br>
            <div class="style-wrapper" th:each="style : ${styleList}">
                <input type="radio" th:id="${style.name}" name="styleId" class="checkbox" th:value="${style.styleId}" onclick="setStyle(event)">
                <label th:for="${style.name}" th:text="${style.name}"></label>
                <img th:src="${style.image}" class="style-image">
            </div>
            &nbsp;&nbsp;<br>
            <button class="submit">REGISTER</button>
        </form>
    </div>
</div>
<script src="/static/js/login.js"></script>
<script th:inline="javascript">
    let message = [[${message}]]; //controller에서 날린 request 객체에 담긴 메세지
    let type = [[${type}]]; //페이지 요청 시 url에 담긴 파라미터

    if(message!=null){
        alert(message);
    }

    if(type.toString()=="login"){
        goLogin();
    } else if(type.toString()=="register"){
        goRegister();
    }
</script>
</body>
</html>