<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
  <title>leafton test</title>
</head>
<body>
<h2>상품리스트</h2>
    <!-- start: grid item -->
  <ul>
    <li th:each="product : ${products}">
      <div>
          <a th:href="@{/product/product/{productId}(productId=${product.productId})}">
            <span th:text="${product.maker}"></span>
            <span th:text="${product.name}"></span>
            <span th:if="${product.salePercentage == null or product.salePercentage == 0}" th:text="'₩ ' + ${#numbers.formatInteger(product.price, 1, 'COMMA')}"></span>
            <span th:unless="${product.salePercentage == null or product.salePercentage == 0}">
              <s th:text="'₩ ' + ${#numbers.formatInteger(product.price, 1, 'COMMA')}"></s>
              <span style="color: fuchsia;" th:text="${product.salePercentage} + '%'"></span>
              <span th:with="discountedPrice=${product.price * (1 - product.salePercentage / 100.0)}"
                    style="color: red;" th:text="'₩ ' + ${#numbers.formatInteger(discountedPrice.intValue(), 0, 'COMMA')}"></span>
            </span>

          </a>
      </div>
    </li>
    </ul>
    <!-- end: grid item -->

    <!-- end: grid item -->

<!-- end: product grid -->


<!-- start: bottom pagination -->
<section class="product-pagination">
  <div style="justify-content: center; align-items: center;">
    <div>
        <a th:href="'/product/productList?&p=1'">처음으로</a>
        <a th:class="${products.first} ? 'disabled'" th:href="'/product/productList?&p=' + ${products.number}">이전</a>
        <div th:each="page : ${#numbers.sequence(startPage, endPage)}">
          <a th:href="'/product/productList?&p=' + ${page}" th:class="${page == currentPage ? 'current-prod-page':''}" th:text="${page}"></a>
        </div>
          <a th:class="${products.last} ? 'disabled'" th:href="'/product/productList?&p=' + ${products.number + 2} ">다음</a>
        <a th:href="'/product/productList?&p=' + ${products.totalPages}">마지막으로</a>
    </div>
  </div>
</section>
<!-- end: bottom pagination -->

<style>
    .disabled {
        pointer-events: none;
        color: white;
    }
</style>

<!-- start: footer -->

</body>
</html>