<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>Tables - SB Admin</title>
  <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
  <link href="/static/css/admin/admin-styles.css" rel="stylesheet" />
  <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body class="sb-nav-fixed">
<!-- top bar -->
<th:block th:replace="~{admin/fragments/sidebar :: topFragment}"></th:block>
<!-- top bar 끝 -->
<div id="layoutSidenav">
  <!-- sidebar -->
  <th:block th:replace="~{admin/fragments/sidebar :: sidebarFragment}"></th:block>
  <!-- sidebar 끝 -->
  <!-- main contents -->
  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid px-4">
        <h1 class="mt-4">이벤트 등록</h1>
        <ol class="breadcrumb mb-4">
          <li class="breadcrumb-item"><a href="main/index.html">event</a></li>
          <li class="breadcrumb-item active">register</li>
        </ol>
        <div class="card shadow-lg border-0 rounded-lg mt-5">
          <div class="card-body">
            <form action="/admin/event/register" method="post"  >
              <div class="row mb-3">
                <div class="col-md-6">
                  <div class="form-floating mb-3 mb-md-0">
                    <input class="form-control" id="inputTitle" type="text" placeholder="Enter your first name" />
                    <label for="inputTitle">Title</label>
                  </div>
                </div>
                <div class="col-md-6">
                </div>
              </div>
              <div class="form-floating mb-3">
                <input class="form-control" id="inputContent" type="text" placeholder="name@example.com" />
                <label for="inputContent">Content</label>
              </div>
              <div class="row mb-3">
                <div class="col-md-6">
                  <div class="form-floating mb-3 mb-md-0">
                    <input class="form-control" id="inputStartDate" type="datetime-local" placeholder="Create a password" />
                    <label for="inputStartDate">Start Date</label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-floating mb-3 mb-md-0">
                    <input class="form-control" id="inputEndDate" type="datetime-local" placeholder="Create a password" />
                    <label for="inputEndDate">End Date</label>
                  </div>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-4">
                  <div class="form-floating mb-3 mb-md-0">
                    <input class="form-control" id="inputMainImage" type="file" placeholder="Create a password" />
                    <label for="inputMainImage">Main Image</label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-floating mb-3 mb-md-0">
                    <input class="form-control" id="inputSubImage" type="file" placeholder="Create a password" />
                    <label for="inputSubImage">Sub Date</label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-floating mb-3 mb-md-0">
                    <input class="form-control" id="inputThumbImage" type="file" placeholder="Create a password" />
                    <label for="inputThumbImage">Thumb Date</label>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="card-footer text-center py-3">
            <div class="mt-4 mb-0">
              <div class="d-grid">
                <button type="submit" class="btn btn-primary btn-block">Add Event</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer class="py-4 bg-light mt-auto">
      <div class="container-fluid px-4">
        <div class="d-flex align-items-center justify-content-between small">
          <div class="text-muted">Copyright &copy; Your Website 2023</div>
          <div>
            <a href="#">Privacy Policy</a>
            &middot;
            <a href="#">Terms &amp; Conditions</a>
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="/static/js/admin/scripts.js"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
<script src="/static/js/admin/datatables-simple-demo.js"></script>
</body>
</html>