<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<th:block th:replace="/fragments/header"></th:block>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://kit.fontawesome.com/20962f3e4b.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <link rel="stylesheet" href="../../static/css/common.css">
    <link rel="stylesheet" href="../../static/css/cart.css">
    <link rel="stylesheet" href="/static/css/event-slide.css"/>

    <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
</head>
<body>
<!-- start: breadcrumbs -->
<section class="row breadcrumbs max-inner">
    <div class="columns col-12">
        <ul class="breadcrumb-list">
            <li><a href="../main/index.html">Home</a></li>
            <li>Cart</li>
        </ul>
    </div>
</section>
<!-- end: breadcrumbs -->
<main id="product">
    <section class="order">
        <nav>
            <h1>장바구니</h1>
            <p>
                HOME >
                <strong>CART</strong>
            </p>
        </nav>
        <form th:action="@{/pay/buy/{memberId}(memberId=${session.memberDTO.getMemberId()})}" method="get" onsubmit="return submitForm();">
            <table border="0">
                <tr>
                    <th>상품명</th>
                    <th>수량</th>
                    <th>판매가</th>
                    <th>할인금액</th>
                    <th>최종금액</th>
                    <th>취소</th>
                    <th>주문</th>
                </tr>
                <tr th:if="${cartItems.isEmpty()}">
                    <td colspan="7" style="height:200px;">
                        <div class="noProduct">장바구니에 담은 상품이 없습니다.</div>
                    </td>
                </tr>
                <tr th:each="cartItem : ${cartItems}" th:unless="${cartItems.isEmpty()}">
                    <td><article>
                        <a th:href="@{/product/product/{productId}(productId=${cartItem.getProductDTO().getProductId()})}">
                            <img th:src="${cartItem.getProductDTO().getMainImage()}" alt="x">
                           <!-- <img src="https://via.placeholder.com/80x80" alt="1"> -->
                        </a>
                        <div>
                            <h2 th:text="${cartItem.getProductDTO().getName()}"><a href="#">상품명</a></h2>
                            <p th:text="${cartItem.getProductDTO().getContent()}">상품설명</p>
                        </div>
                    </article></td>
                    <td th:text="${cartItem.getCount()}">수량</td>
                    <td th:text="'₩' + ${#numbers.formatInteger(cartItem.getProductDTO().getPrice(), 0, 'COMMA')}">상품금액</td>
                    <td th:if="${cartItem.getProductDTO().getSalePercentage() == 0}" th:text="'적용된 할인 없음'">할인금액</td>
                    <td th:unless="${cartItem.getProductDTO().getSalePercentage() == 0}">
                            <span th:with="discountedPrice=${cartItem.getProductDTO().getPrice() *
                            (1 - cartItem.getProductDTO().getSalePercentage()/100.0)}" th:text="'₩' + ${#numbers.formatInteger(cartItem.getProductDTO().getPrice() - discountedPrice.intValue(), 0, 'COMMA')}"></span>
                    </td>
                    <td th:if="${cartItem.getProductDTO().getSalePercentage() == 0}" th:text="'₩' + ${#numbers.formatInteger(cartItem.getProductDTO().getPrice() * cartItem.getCount(), 1, 'COMMA')}"></td>
                    <td th:unless="${cartItem.getProductDTO().getSalePercentage() == 0}">
                            <span th:with="discountedTotalPrice=${cartItem.getProductDTO().getPrice() *
                            (1 - cartItem.getProductDTO().getSalePercentage()/100.0) * cartItem.getCount()}" th:text="'₩' + ${#numbers.formatInteger(discountedTotalPrice.intValue(), 0, 'COMMA')}"></span>
                    </td>
                    <td><a th:href="@{/pay/cart/{memberId}/{cartItemId}/delete(memberId=${session.memberDTO.getMemberId()}, cartItemId=${cartItem.getCartItemId()})}">취소</a></td>
                    <td> <input type="checkbox" name="itemChkBox" th:value="${cartItem.getCartItemId()}"></td>
                </tr>
            </table>
            <div class="final">
                <h2>최종결제 정보</h2>
                <table>
                    <tr>
                        <td>전체주문금액</td>
                        <td th:text="'₩' + ${#numbers.formatInteger(totalPrice, 0, 'COMMA')}"></td>
                    </tr>
                </table>
                <input type="hidden" name="checkedItems" value="">
                <input type="submit" value="결제하기">
                <h3>10만원 이상 주문시 배송비 무료!</h3>
            </div>
        </form>
    </section>
</main>
<div class="emptyCart">
    <div style="font-weight: bold">둘러보기 시작</div>
    <svg focusable="false" viewBox="0 0 24 24" width="24" height="24" aria-hidden="true" class="cart-ingka-svg-icon">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M12 15.6L4.7 8.3l1.4-1.4L12 12.8l5.9-5.9 1.4 1.4L12 15.6z"></path>
    </svg>
</div>

<div class="category-title">
    먼저 카테고리로 상품들을 둘러보세요.
</div>
<!-- 카테고리 슬라이드 -->
<div class="category-slide">
    <div class="slideTab" id="categoryTab">
        <div class="tab-item" th:each="category : ${mainCategoryList}">
            <img th:src="${category.image}" th:onclick="|location.href='@{/product/shop(mainCategoryId=${category.mainCategoryId})}'|"/>
            <br><br>
            <a th:href="@{/product/shop(mainCategoryId=${category.mainCategoryId})}" th:text="${category.name}"></a>
        </div>
    </div>
    <div class="bar-container">
        <div id="bar"></div>
    </div>
</div>
<!-- 카테고리 슬라이드 끝 -->
<br>
<th:block th:replace="/fragments/footer"></th:block>
<script src="/static/js/slide.js"></script>
<script type="text/javascript">
    function submitForm() {
        const itemChkBox = document.getElementsByName('itemChkBox');
        let checkedItems = [];
        for(let i = 0; i < itemChkBox.length; i++) {
            if(itemChkBox[i].checked) {
                checkedItems.push(itemChkBox[i].value);
            }
        }
        if(checkedItems.length === 0) {
            alert("선택된 상품이 없습니다.");
            return false;
        }
        document.getElementsByName('checkedItems')[0].value = checkedItems.join(',');
        return true;
    }
</script>
</body>
</html>