<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="/fragments/header :: headerFragment"></th:block>
<head>
  <style>
    .eventList{
      width:1000px;
      margin:auto;
    }
    .eventList img{
      width:1000px;
      height:500px;
      margin-top: 20px;
    }
  </style>

  <script src="/static/js/main.js"></script>
  <script>

  </script>
</head>
<body>
  <!-- 이벤트 탭 -->
  <section class="product-grid">
    <header class="row section-header max-inner">
      <div class="columns-12 col-centered">
        <!-- 제목 -->
        <h2>Now Events</h2><hr/>
      </div>
    </header>
    <!-- 이벤트 사진 리스트 div -->
    <div class="eventList">
      <!-- 이벤트 사진 -->
      <img src="/static/images/이벤트2.png">
      <img src="/static/images/이벤트3.png">
      <img src="/static/images/이벤트4.png">
      <img src="/static/images/이벤트5.png">
      <img src="/static/images/이벤트6.jpg">
      <!-- 이벤트 사진 끝 -->
    </div>
    <!-- 이벤트 사진 리스트 div 끝 -->
  </section>
  <!-- 이벤트 탭 끝-->
  <th:block th:replace="/fragments/footer :: footerFragment"></th:block>
</body>
</html>