<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>Tables - SB Admin</title>
  <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
  <link href="/static/css/admin/admin-styles.css" rel="stylesheet" />
  <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body class="sb-nav-fixed">
<!-- top bar -->
<th:block th:replace="~{admin/fragments/sidebar :: topFragment}"></th:block>
<!-- top bar 끝 -->
<div id="layoutSidenav">
  <!-- sidebar -->
  <th:block th:replace="~{admin/fragments/sidebar :: sidebarFragment}"></th:block>
  <!-- sidebar 끝 -->

  <div id="layoutSidenav_content">
    <!-- main contents -->
    <main>
      <div class="container-fluid px-4">
        <!-- 페이지 분류 및 제목 -->
        <h1 class="mt-4">상품 수정</h1>
        <ol class="breadcrumb mb-4">
          <li class="breadcrumb-item"><a href="main/index.html">product</a></li>
          <li class="breadcrumb-item active">register</li>
        </ol>
        <!-- 페이지 분류 및 제목 끝 -->
        <!-- 입력 form -->
        <div class="card shadow-lg border-0 rounded-lg mt-5">
          <form action="/admin/product/edit" method="post" id="main-form" enctype="multipart/form-data">
            <input type="hidden" th:value="${product.productId}" name="productId" id="productId"/>
            <div class="card-body">
              <!-- 첫번째 줄 -->
              <div class="row mb-3">
                <div class="col-md-4">
                  <div class="form-floating mb-3 mb-md-0">
                    <input class="form-control" id="inputName" name="name" th:value="${product.name}"
                           type="text" placeholder="Enter your first name" required/>
                    <label for="inputName">상품명</label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-floating mb-3 mb-md-0">
                    <input class="form-control" id="inputColor" name="color" th:value="${product.color}"
                           type="text" placeholder="Enter your first name" required/>
                    <label for="inputColor">색상</label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-floating mb-3 mb-md-0">
                    <input class="form-control" id="inputWeight" name="weight" th:value="${product.weight}"
                           type="text" placeholder="Enter your first name" required/>
                    <label for="inputWeight">무게(kg)</label>
                  </div>
                </div>
              </div>
              <!-- 첫번째 줄 끝 -->
              <!-- 두번째 줄 -->
              <div class="row mb-3">
                <div class="col-md-4">
                  <div class="form-floating mb-3 mb-md-0">
                    <select class="form-control" th:id="selectMC" name="mainCategory"
                            onchange="sendFromEdit(this.value)"
                            th:if="${mainCategoryNumber==null}">
                      <option th:each="mainCategory : ${mainCategories}"
                              th:selected="${mainCategory.mainCategoryId==product.mainCategoryDTO.mainCategoryId}"
                              th:text="${mainCategory.name}" th:value="${mainCategory.mainCategoryId}"></option>
                    </select>
                    <select class="form-control" th:id="selectMC" name="mainCategory"
                            onchange="sendFromEdit(this.value)"
                            th:if="${mainCategoryNumber!=null}">
                      <option th:each="mainCategory : ${mainCategories}"
                              th:selected="${mainCategory.mainCategoryId.toString()==mainCategoryNumber}"
                              th:text="${mainCategory.name}" th:value="${mainCategory.mainCategoryId}"></option>
                    </select>
                    <label th:for="selectMC">메인 카테고리</label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-floating mb-3 mb-md-0">
                    <input class="form-control" id="inputMaker" name="maker" th:value="${product.maker}"
                           type="text" placeholder="Enter your first name" required/>
                    <label for="inputMaker">제조사</label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-floating mb-3 mb-md-0">
                    <input class="form-control" id="selectAS" name="asPeriod" th:value="${product.asPeriod}"
                           type="number" placeholder="Enter your first name" required/>
                    <label for="selectAS">보증기간(년)</label>
                  </div>
                </div>
              </div>
              <!-- 두번째 줄 끝 -->
              <!-- 세번쨰 줄 -->
              <div class="row mb-3">
                <div class="col-md-4">
                  <div class="form-floating mb-3 mb-md-0">
                    <select class="form-control" th:id="selectSC" name="subCategory"
                            th:if="${mainCategoryNumber==null}">
                      <option th:each="subCategory : ${subCategories}"
                              th:if="${subCategory.mainCategoryDTO.mainCategoryId==product.mainCategoryDTO.mainCategoryId}"
                              th:selected="${subCategory.subCategoryId==product.subCategoryDTO.subCategoryId}"
                              th:text="${subCategory.name}" th:value="${subCategory.subCategoryId}"></option>
                    </select>
                    <select class="form-control" th:id="selectSC" name="subCategory"
                            th:if="${mainCategoryNumber!=null}">
                      <option th:each="subCategory : ${subCategories}"
                              th:if="${subCategory.mainCategoryDTO.mainCategoryId.toString()==mainCategoryNumber}"
                              th:text="${subCategory.name}" th:value="${subCategory.subCategoryId}"></option>
                    </select>
                    <label th:for="selectSC">서브 카테고리 선택</label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-floating mb-3 mb-md-0">
                    <input class="form-control" id="inputWidth" name="width"
                           th:value="${#strings.substringBefore(product.size, 'fm')}"
                           type="text" placeholder="Enter your first name" required/>
                    <label for="inputWidth">가로 길이(cm)</label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-floating mb-3 mb-md-0">
                    <input class="form-control" id="inputAmount" name="amount" th:value="${product.amount}"
                           type="number" placeholder="Enter your first name"/>
                    <label for="inputAmount">재고수량(개)</label>
                  </div>
                </div>
              </div>
              <!-- 세번쨰 줄 끝 -->
              <!-- 네번째 줄 -->
              <div class="row mb-3">
                <div class="col-md-4">
                  <div class="form-floating mb-3 mb-md-0">
                    <select class="form-control" id="selectStyle" name="style">
                      <option th:each="style : ${styles}"
                              th:text="${style.name}" th:value="${style.styleId}"></option>
                    </select>
                    <label for="selectStyle">스타일 선택</label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-floating mb-3 mb-md-0">
                    <input class="form-control" id="inputDepth" name="depth"
                           th:value="${#strings.substring(product.size, #strings.indexOf(product.size, 'fm')+2, #strings.indexOf(product.size, 'lm'))}"
                           type="text" placeholder="Enter your first name" required/>
                    <label for="inputDepth">세로 길이(cm)</label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-floating mb-3 mb-md-0">
                    <div class="col-md-auto">
                      <label>조립 여부</label>
                    </div>
                    <input type="radio" name="isAssemble" value="0" th:checked="${product.isAssemble==0}"/> O&nbsp;
                    <input type="radio" name="isAssemble" value="1" th:checked="${product.isAssemble==1}"/> X
                  </div>
                </div>
              </div>
              <!-- 네번째 줄 끝 -->
              <!-- 다섯번째 줄 -->
              <div class="row mb-3">
                <div class="col-md-4">
                  <div class="form-floating mb-3 mb-md-0">
                    <select class="form-control" id="selectMM" name="mainMaterial">
                      <option th:each="mainMaterial : ${mainMaterials}"
                              th:text="${mainMaterial.name}" th:value="${mainMaterial.mainMaterialId}"
                              th:selected="${mainMaterial.mainMaterialId==product.mainMaterialDTO.mainMaterialId}"
                      ></option>
                    </select>
                    <label for="selectMM">주재료 선택</label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-floating mb-3 mb-md-0">
                    <input class="form-control" id="inputHeight" name="height"
                           th:value="${#strings.substringAfter(product.size, 'lm')}"
                           type="text" placeholder="Enter your first name" required/>
                    <label for="inputHeight">높이(cm)</label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-floating mb-3 mb-md-0">
                    <input class="form-control" id="inputPrice" name="price" th:value="${product.price}"
                           type="number" placeholder="Enter your first name" required/>
                    <label for="inputPrice">가격(원)</label>
                  </div>
                </div>
              </div>
              <!-- 다섯번째 줄 끝 -->
              <!-- 여섯번째 줄 -->
              <div class="row mb-3">
                <div class="col-md-4">
                  <div class="form-floating mb-3 mb-md-0">
                    <select class="form-control" id="selectEvent" name="event">
                      <option th:each="event : ${events}"
                              th:selected="${event.eventId==product.eventDTO.eventId}"
                              th:text="${event.title}" th:value="${event.eventId}"></option>
                    </select>
                    <label for="selectEvent">적용 이벤트</label>
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="form-floating mb-3 mb-md-0">
                    <input class="form-control" id="inputContent" name="content"
                           type="text" placeholder="Enter your first name"
                           th:value="${product.content}"
                           required/>
                    <label for="inputContent">상품 설명</label>
                  </div>
                </div>
              </div>
              <!-- 여섯번째 줄 끝 -->
              <!-- 일곱번째 줄 -->
              <div class="row mb-3">
                <div class="col-md-4">
                  <div class="col-md-auto">
                    <label>현재 메인 이미지</label>
                  </div>
                  <div class="form-floating mb-3 mb-md-0">
                    <img style="width:100%;Height:300px;" th:src="${product.mainImage}">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="col-md-auto">
                    <label>현재 서브 이미지</label>
                  </div>
                  <div class="form-floating mb-3 mb-md-0">
                    <img style="width:100%;Height:300px;" th:src="${product.subImage}">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="col-md-auto">
                    <label>현재 썸네일 이미지</label>
                  </div>
                  <div class="form-floating mb-3 mb-md-0">
                    <img style="width:100%;Height:300px;" th:src="${product.thumbImage}">
                  </div>
                </div>
              </div>
              <!-- 일곱번째 줄 끝 -->
              <!-- 여덟번째 줄 -->
              <div class="row mb-3">
                <div class="col-md-4">
                  <div class="form-floating mb-3 mb-md-0">
                    <input type="hidden" name="mainImage" th:value="${product.mainImage}"/>
                    <input type="hidden" name="subImage" th:value="${product.subImage}"/>
                    <input type="hidden" name="thumbImage" th:value="${product.thumbImage}"/>
                    <input class="form-control" id="inputMainImage" name="mainFile"
                           type="file" placeholder="Create a password" />
                    <label for="inputMainImage">Main Image</label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-floating mb-3 mb-md-0">
                    <input class="form-control" id="inputSubImage" name="subFile"
                           type="file" placeholder="Create a password" />
                    <label for="inputSubImage">Sub Image</label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-floating mb-3 mb-md-0">
                    <input class="form-control" id="inputThumbImage" name="thumbFile"
                           type="file" placeholder="Create a password" />
                    <label for="inputThumbImage">Thumb Image</label>
                  </div>
                </div>
              </div>
              <!-- 여덟번째 줄 끝 -->
            </div>
            <!-- 전송 버튼 -->
            <div class="card-footer text-center py-3">
              <div class="mt-4 mb-0">
                <div class="d-grid">
                  <button type="submit" class="btn btn-primary btn-block">변경</button>
                </div>
              </div>
            </div>
            <!-- 전송 버튼 끝 -->
          </form>
        </div>
        <!-- 입력 form 끝 -->
      </div>
    </main>
    <!-- main contents 끝 -->
    <footer class="py-4 bg-light mt-auto">
      <div class="container-fluid px-4">
        <div class="d-flex align-items-center justify-content-between small">
          <div class="text-muted">Copyright &copy; Your Website 2023</div>
          <div>
            <a href="#">Privacy Policy</a>
            &middot;
            <a href="#">Terms &amp; Conditions</a>
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>
<script src="/static/js/admin/selectBoxController.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="/static/js/admin/scripts.js"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
<script src="/static/js/admin/datatables-simple-demo.js"></script>
</body>
</html>