<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{fragments/header :: headerFragment}"></th:block>
<!-- start: breadcrumbs -->
<link rel="stylesheet" href="/static/css/ratingList.css" />
<link rel="stylesheet" href="/static/css/dropdown.css" />
<link rel="stylesheet" href="/static/css/btndisabled.css">
<!-- end: header -->

<!-- start: breadcrumbs -->
<section class="row breadcrumbs max-inner">
  <div class="columns col-12">
    <ul class="breadcrumb-list">
      <li><a href="/main/index">Home</a></li>
      <li>Product results</li>
    </ul>
  </div>
</section>
<!-- end: breadcrumbs -->


<!-- start: sort + product nav -->
<section class="filter-sort">
  <div class="row max-inner">

    <!--메인카테고리 메뉴 시작-->
    <div class="dropdown">
      <button class="dropbtn">
        <span class="dropbtn_icon" th:if="${mainCategoryDetail == null}"> 카테고리</span>
        <span class="dropbtn_icon" th:unless="${mainCategoryDetail == null}" th:text="${mainCategoryDetail.name}"></span>
      </button>
      <div class="dropdown-content">
        <ul class="main-category" th:each="mainCategory : ${mainCategories}">
          <li th:if="${eventDTO == null}"><a th:href="@{/product/shop(mainCategoryId=${mainCategory.mainCategoryId})}" th:text="${mainCategory.name}"></a></li>
          <li th:if="${eventDTO != null}"><a th:href="@{/product/shop(mainCategoryId=${mainCategory.mainCategoryId}, eventId=${eventDTO.eventId})}" th:text="${mainCategory.name}"></a></li>
        </ul>
      </div>
    </div>
    <!--메인카테고리 메뉴 끝-->
    <!--서브카테고리 메뉴 시작-->
    <div th:if="${subCategories == null}" class="dropdown">
      <button class="dropbtn" type="disabled">
        <span class="dropbtn_icon"></span>
        서브
      </button>
    </div>
    <div th:unless="${subCategories == null}" class="dropdown">
      <button class="dropbtn">
        <span class="dropbtn_icon" th:if="${subCategoryDetail == null}" th:text="${mainCategoryDetail.name} + ' 종류'"></span>
        <span class="dropbtn_icon" th:unless="${subCategoryDetail == null}" th:text="${subCategoryDetail.name}"></span>
      </button>
      <div class="dropdown-content">
        <ul class="sub-category" th:each="subCategory : ${subCategories}">
          <li th:if="${eventDTO == null}"><a th:href="@{/product/shop(mainCategoryId=${subCategory.mainCategoryDTO.mainCategoryId},subCategoryId=${subCategory.subCategoryId})}" th:text="${subCategory.name}"></a></li>
          <li th:if="${eventDTO != null}"><a th:href="@{/product/shop(mainCategoryId=${subCategory.mainCategoryDTO.mainCategoryId},subCategoryId=${subCategory.subCategoryId}, eventId=${eventDTO.eventId})}" th:text="${subCategory.name}"></a></li>
        </ul>
      </div>
    </div>
    <!--서브카테고리 메뉴 끝-->
    <!--재료 메뉴 시작-->
    <div class="dropdown">
      <button class="dropbtn">
        <span class="dropbtn_icon" th:if="${mainMaterialDetail == null}"> 재료</span>
        <span class="dropbtn_icon" th:if="${mainMaterialDetail != null and mainCategoryDetail == null and SubCategoryDetail == null}" th:text="${mainMaterialDetail.name}"></span>
        <span class="dropbtn_icon" th:if="${mainMaterialDetail != null and mainCategoryDetail != null and SubCategoryDetail == null}" th:text="${mainMaterialDetail.name}"></span>
        <span class="dropbtn_icon" th:if="${mainMaterialDetail != null and mainCategoryDetail != null and SubCategoryDetail != null}" th:text="${mainMaterialDetail.name}"></span>
      </button>
      <div class="dropdown-content">
        <ul class="main-category" th:each="mainMaterial : ${mainMaterials}">
          <li><a th:href="'/product/shop?mainMaterialId=' + ${mainMaterial.mainMaterialId}
           + (${mainCategoryDetail != null && mainCategoryDetail.mainCategoryId != null ? '&mainCategoryId=' + mainCategoryDetail.mainCategoryId : ''})
           + (${subCategoryDetail != null && subCategoryDetail.subCategoryId != null ? '&subCategoryId=' + subCategoryDetail.subCategoryId : ''})
           + (${eventDTO != null && eventDTO.eventId != null ? '&eventId=' + eventDTO.eventId: ''})"
                 th:text="${mainMaterial.name}"></a></li>
        </ul>
      </div>
    </div>
    <!--재료 메뉴 끝-->
    <!--정렬 메뉴 시작-->
    <div class="dropdown">
      <button class="dropbtn">
        <span class="dropbtn_icon" th:if="${viewName == null}">정렬</span>
        <span class="dropbtn_icon" th:unless="${viewName == null}" th:text="${viewName}"></span>
      </button>
      <div class="dropdown-content">
        <ul class="main-category">
          <ul class="arrange-menu">
            <li><a th:href="'/product/shop?arName=name' + (${mainCategoryDetail != null && mainCategoryDetail.mainCategoryId != null ? '&mainCategoryId=' + mainCategoryDetail.mainCategoryId : ''})
             + (${subCategoryDetail != null && subCategoryDetail.subCategoryId != null ? '&subCategoryId=' + subCategoryDetail.subCategoryId : ''})
             + (${mainMaterialDetail != null && mainMaterialDetail.mainMaterialId != null ? '&mainMaterialId=' + mainMaterialDetail.mainMaterialId : ''})
             + (${eventDTO != null && eventDTO.eventId != null ? '&eventId=' + eventDTO.eventId: ''})
             + (${searchType != null && searchValue != null ? '&searchType=' + searchType + '&searchValue=' + searchValue : ''})">이름 순</a></li>
            <li><a th:href="'/product/shop?arName=new' + (${mainCategoryDetail != null && mainCategoryDetail.mainCategoryId != null ? '&mainCategoryId=' + mainCategoryDetail.mainCategoryId : ''})
             + (${subCategoryDetail != null && subCategoryDetail.subCategoryId != null ? '&subCategoryId=' + subCategoryDetail.subCategoryId : ''})
             + (${mainMaterialDetail != null && mainMaterialDetail.mainMaterialId != null ? '&mainMaterialId=' + mainMaterialDetail.mainMaterialId : ''})
             + (${eventDTO != null && eventDTO.eventId != null ? '&eventId=' + eventDTO.eventId: ''})
             + (${searchType != null && searchValue != null ? '&searchType=' + searchType + '&searchValue=' + searchValue : ''})">신상품 순</a></li>
            <li><a th:href="'/product/shop?arName=rating' + (${mainCategoryDetail != null && mainCategoryDetail.mainCategoryId != null ? '&mainCategoryId=' + mainCategoryDetail.mainCategoryId : ''})
             + (${subCategoryDetail != null && subCategoryDetail.subCategoryId != null ? '&subCategoryId=' + subCategoryDetail.subCategoryId : ''})
             + (${mainMaterialDetail != null && mainMaterialDetail.mainMaterialId != null ? '&mainMaterialId=' + mainMaterialDetail.mainMaterialId : ''})
             + (${eventDTO != null && eventDTO.eventId != null ? '&eventId=' + eventDTO.eventId: ''})
             + (${searchType != null && searchValue != null ? '&searchType=' + searchType + '&searchValue=' + searchValue : ''})">평점 순</a></li>
            <li><a th:href="'/product/shop?arName=aprice' + (${mainCategoryDetail != null && mainCategoryDetail.mainCategoryId != null ? '&mainCategoryId=' + mainCategoryDetail.mainCategoryId : ''})
             + (${subCategoryDetail != null && subCategoryDetail.subCategoryId != null ? '&subCategoryId=' + subCategoryDetail.subCategoryId : ''})
             + (${mainMaterialDetail != null && mainMaterialDetail.mainMaterialId != null ? '&mainMaterialId=' + mainMaterialDetail.mainMaterialId : ''})
             + (${eventDTO != null && eventDTO.eventId != null ? '&eventId=' + eventDTO.eventId: ''})
             + (${searchType != null && searchValue != null ? '&searchType=' + searchType + '&searchValue=' + searchValue : ''})">가격: 가격 낮은 순</a></li>
            <li><a th:href="'/product/shop?arName=dprice' + (${mainCategoryDetail != null && mainCategoryDetail.mainCategoryId != null ? '&mainCategoryId=' + mainCategoryDetail.mainCategoryId : ''})
             + (${subCategoryDetail != null && subCategoryDetail.subCategoryId != null ? '&subCategoryId=' + subCategoryDetail.subCategoryId : ''})
             + (${mainMaterialDetail != null && mainMaterialDetail.mainMaterialId != null ? '&mainMaterialId=' + mainMaterialDetail.mainMaterialId : ''})
             + (${eventDTO != null && eventDTO.eventId != null ? '&eventId=' + eventDTO.eventId: ''})
             + (${searchType != null && searchValue != null ? '&searchType=' + searchType + '&searchValue=' + searchValue : ''})">가격: 가격 높은 순</a></li>
          </ul>
        </ul>
      </div>
    </div>
    <!--정렬 메뉴 끝-->

  </div>
</section>
<!-- end: sort + product nav -->


<!-- start: product grid -->
<section class="product-grid shop-grid">

  <div class="row max-inner sortable-grid">

    <!-- start: grid item -->
    <div class="columns col-3 grid-item" th:each="product : ${products}">
      <div class="grid-item-media"><a th:href="@{/product/product(productId=${product.productId})}"><img th:src="${product.mainImage}"/></a></div>
      <div class="grid-item-desc">
        <h2>
          <a class="grid-item-link" th:href="@{/product/product(productId=${product.productId})}">
            <span class="grid-item-meta" th:text="${product.maker}"></span><hr />
            <span style="color: black" class="product-name" th:text="${product.name}"></span>
            <span class="product-rating">
            <span class="product-rate">
              <div class="rating-list" style="display: flex;">
                <div class="rateView" style="text-align: center;">
                  <span th:with="ratingAvgView=${product.rating * 10}"
                        th:style="'width:' + ${ratingAvgView} + '%'">
                  </span>
                </div>
                 &nbsp
                 &nbsp
                <div class="rateText">
                    <span class="rateText" style="color: black;" th:with="alterFive=${#numbers.formatDecimal(product.rating / 2.0 , 3 , 5 )}"
                          th:text="${#numbers.formatDecimal(alterFive, 1, 1)}">
                    </span>
                </div>
              </div>
              </span>
            </span>
            <span style="color: #282828" class="grid-item-price" th:if="${product.salePercentage == null or product.salePercentage == 0}" th:text="'₩ ' + ${#numbers.formatInteger(product.price, 1, 'COMMA')}"></span>
            <span class="grid-item-price" th:unless="${product.salePercentage == null or product.salePercentage == 0}">
              <s th:text="'₩ ' + ${#numbers.formatInteger(product.price, 1, 'COMMA')}"></s>
              <span style="color: fuchsia;" th:text="${product.salePercentage} + '%'"></span>
              <span th:with="discountedPrice=${product.price * (1 - product.salePercentage / 100.0)}"
                    style="color: red;" th:text="'₩ ' + ${#numbers.formatInteger(discountedPrice.intValue(), 0, 'COMMA')}"></span>
            </span>

          </a>
        </h2>
      </div>
    </div>
    <!-- end: grid item -->

    <!-- end: grid item -->

  </div>
</section>
<!-- end: product grid -->


<!-- start: bottom pagination -->
<section class="product-pagination">
  <div class="row max-inner" style="justify-content: center; align-items: center;">
    <div class="columns col-12">
      <ul class="paging-list">
        <li><a th:href="'/product/shop?arName=' + ${arPage} +
        (${mainCategoryDetail != null && mainCategoryDetail.mainCategoryId != null ? '&mainCategoryId=' + mainCategoryDetail.mainCategoryId : ''}) +
        (${subCategoryDetail != null && subCategoryDetail.subCategoryId != null ? '&subCategoryId=' + subCategoryDetail.subCategoryId : ''}) +
        (${mainMaterialDetail != null && mainMaterialDetail.mainMaterialId != null ? '&mainMaterialId=' +  mainMaterialDetail.mainMaterialId : ''}) +
        (${eventDTO != null && eventDTO.eventId != null ? '&eventId=' + eventDTO.eventId : ''}) +
        (${searchType != null && searchValue != null ? '&searchType=' + searchType + '&searchValue=' + searchValue : ''}) +
        '&p=1'">처음으로</a></li>
        <li>
          <a th:class="${products.first} ? 'disabled'" th:href="'/product/shop?arName=' + ${arPage} +
        (${mainCategoryDetail != null && mainCategoryDetail.mainCategoryId != null ? '&mainCategoryId=' + mainCategoryDetail.mainCategoryId : ''}) +
        (${subCategoryDetail != null && subCategoryDetail.subCategoryId != null ? '&subCategoryId=' + subCategoryDetail.subCategoryId : ''}) +
        (${mainMaterialDetail != null && mainMaterialDetail.mainMaterialId != null ? '&mainMaterialId=' +  mainMaterialDetail.mainMaterialId : ''}) +
        (${eventDTO != null && eventDTO.eventId != null ? '&eventId=' + eventDTO.eventId : ''}) +
        (${searchType != null && searchValue != null ? '&searchType=' + searchType + '&searchValue=' + searchValue : ''}) +
        '&p=' + ${products.number}"><i class="fa fa-caret-left"></i></a>
        </li>
        <li th:each="page : ${#numbers.sequence(startPage, endPage)}">
          <a th:href="'/product/shop?arName=' + ${arPage} +
        (${mainCategoryDetail != null && mainCategoryDetail.mainCategoryId != null ? '&mainCategoryId=' + mainCategoryDetail.mainCategoryId : ''}) +
        (${subCategoryDetail != null && subCategoryDetail.subCategoryId != null ? '&subCategoryId=' + subCategoryDetail.subCategoryId : ''}) +
        (${mainMaterialDetail != null && mainMaterialDetail.mainMaterialId != null ? '&mainMaterialId=' +  mainMaterialDetail.mainMaterialId : ''}) +
        (${eventDTO != null && eventDTO.eventId != null ? '&eventId=' + eventDTO.eventId : ''}) +
        (${searchType != null && searchValue != null ? '&searchType=' + searchType + '&searchValue=' + searchValue : ''}) +
        '&p=' + ${page}" th:class="${page == currentPage ? 'current-prod-page':''}" th:text="${page}"></a>
        </li>
        <li>
          <a th:class="${products.last} ? 'disabled'" th:href="'/product/shop?arName=' + ${arPage} +
        (${mainCategoryDetail != null && mainCategoryDetail.mainCategoryId != null ? '&mainCategoryId=' + mainCategoryDetail.mainCategoryId : ''}) +
        (${subCategoryDetail != null && subCategoryDetail.subCategoryId != null ? '&subCategoryId=' + subCategoryDetail.subCategoryId : ''}) +
        (${mainMaterialDetail != null && mainMaterialDetail.mainMaterialId != null ? '&mainMaterialId=' +  mainMaterialDetail.mainMaterialId : ''}) +
        (${eventDTO != null && eventDTO.eventId != null ? '&eventId=' + eventDTO.eventId : ''}) +
        (${searchType != null && searchValue != null ? '&searchType=' + searchType + '&searchValue=' + searchValue : ''}) +
        '&p=' + ${products.number + 2} "><i class="fa fa-caret-right"></i></a>
        </li>
        <li><a th:href="'/product/shop?arName=' + ${arPage} +
        (${mainCategoryDetail != null && mainCategoryDetail.mainCategoryId != null ? '&mainCategoryId=' + mainCategoryDetail.mainCategoryId : ''}) +
        (${subCategoryDetail != null && subCategoryDetail.subCategoryId != null ? '&subCategoryId=' + subCategoryDetail.subCategoryId : ''}) +
        (${mainMaterialDetail != null && mainMaterialDetail.mainMaterialId != null ? '&mainMaterialId=' +  mainMaterialDetail.mainMaterialId : ''}) +
        (${eventDTO != null && eventDTO.eventId != null ? '&eventId=' + eventDTO.eventId : ''}) +
        (${searchType != null && searchValue != null ? '&searchType=' + searchType + '&searchValue=' + searchValue : ''}) +
        '&p=' + ${products.totalPages}">마지막으로</a></li>
      </ul>
    </div>
  </div>
</section>
<!-- end: bottom pagination -->



<!-- start: footer -->
<th:block th:replace="~{fragments/footer :: footerFragment}"></th:block>
</body>
</html> 