<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>내 정보</title>
  <th:block th:replace="/fragments/header :: headerFragment"></th:block>
  <link rel="stylesheet" href="/static/css/myPage.css"/>
</head>
<body>
<div class="row max-inner">
  <!--sidebar-->
  <th:block th:replace="/member/sidebar :: sidebarFragment"></th:block>
  <!--sidebar 끝-->

  <!-- 내 정보 -->
  <div class="main" th:if="${type}=='info'">
    <div class="main-header">
      내 정보
      <hr>
    </div>
    <div class="main-info">
      <form action="/member/edit?type=edit" method="post" id="form-edit">
        <input type="hidden" name="memberId" th:value="${session.memberDTO.memberId}"/>
        <input type="hidden" name="styleId" th:value="${session.memberDTO.getStyleDTO().getStyleId()}"/>
        <input type="hidden" name="gender" th:value="${session.memberDTO.gender}"/>
        <input type="hidden" name="password" th:value="${session.memberDTO.password}"/>
        <br>
        <label>&nbsp;이름</label>
        <input type="text" class="input-field" name="name" th:value="${session.memberDTO.name}"/><br><br>
        <label>&nbsp;Email</label>
        <input type="text" class="input-field" name="email" th:value="${session.memberDTO.email}" readonly /><br><br>
        <label>&nbsp;Phone</label>
        <input type="text" class="input-field" name="phone" th:value="${session.memberDTO.phone}"/><br><br>
        <label>&nbsp;우편번호</label>
        <input type="number" class="input-field" name="zipcode" th:value="${session.memberDTO.zipcode}"/><br><br>
        <label>&nbsp;주소</label>
        <input type="text" class="input-field" name="address" th:value="${session.memberDTO.address}"/><br><br>
        <label>&nbsp;선호 스타일</label>
        <input type="text" class="input-field" th:value="${session.memberDTO.styleDTO.name}" style="width:47%;"/>
        &nbsp;&nbsp;<button type="button">변경</button><br><br>
        <label></label>
        <button>수정</button>
        <button type="button" onclick="edit('delete')">탈퇴</button>
      </form>
    </div>
  </div>
  <!-- 내 정보 끝 -->
  <!-- 비밀번호 변경 -->
  <div class="main" th:if="${type}=='changePw'">
    <div class="main-header">
      비밀번호 변경
      <hr>
    </div>
    <div class="main-info">
      <form action="/member/edit?type=changePw" method="post" id="form-password">
        <input type="hidden" name="memberId" th:value="${session.memberDTO.memberId}"/>
        <br>
        <label>&nbsp;현재 비밀번호</label>
        <input type="password" class="input-field" id="old-password" name="oldPassword" required/>
        <br><br>
        <label>&nbsp;새 비밀번호</label>
        <input type="password" class="input-field" name="password" id="password" required minlength="4"/>
        <br><br>
        <label></label><button>변경</button><br><br>
      </form>
    </div>
  </div>
  <!-- 비밀번호 변경 끝 -->
  <!-- 스타일 수정 -->
  <div class="main" th:if="${type}=='changeSt'">
    <div class="main-header">
      선호 스타일 변경
      <hr>
    </div>
    <div class="main-info">
      <form action="/member/edit?type=changeSt" method="post" id="form-style">
        <input type="hidden" name="memberId" th:value="${session.memberDTO.memberId}"/>
        <input type="radio" id="modern" name="styleId" class="checkbox" value="1" checked>
        <label for="modern" th:text="${styleList.get(0).name}"></label>
        <img src="/static/images/style/modern.jpg" class="style-image">
        <br><br>
        <input type="radio" id="classic" name="styleId" class="checkbox" value="2">
        <label for="classic" th:text="${styleList.get(1).name}">classic</label>
        <img src="/static/images/style/classic.jpg" class="style-image">
        <br><br>
        <input type="radio" id="upcycling" name="styleId" class="checkbox" value="3">
        <label for="upcycling" th:text="${styleList.get(2).name}">upcycling</label><br>
        <img src="/static/images/style/upcycling.jpg" class="style-image">
        &nbsp;&nbsp;<br><br>
        <button>변경</button><br><br>
      </form>
    </div>
  </div>
  <!-- 스타일 수정 끝 -->
</div>
<!-- footer -->
<th:block th:replace="/fragments/footer :: footerFragment"></th:block>
<!-- footer 끝 -->
<script src="/static/js/info.js"></script>
<script th:inline="javascript">
  let message = [[${message}]]; //controller에서 날린 request 객체에 담긴 메세지

  if(message!=null){
    alert(message);
  }
</script>
</body>
</html>