.main-content .product-options label.product-count {
    display: table;
    float: left;
}

.product-count {
    width: 40%;
}


.main-content .product-options label.total-price {
    display: table;
    float: left;
}

.total-price {
    width: 30%;
}